MODE=DEV
PORT=3000
REFRESH_TOKEN_SECRET=hWmZq4t7w!z%C*F-JaNdRgUkXn2r5u8x/A?D(G+KbPeShVmYq3s6v9y$B&E)H@qAd
ACCESS_TOKEN_SECRET=QeThVmYq3t6w9z$C&F)J@NcRfUjXnZr4u7x!A%D*G-KaPdSgVkYp3s5v8y/B?E(HFA
MYSQL_HOST=localhost
MYSQL_PASS=''
MYSQL_USER=root
MYSQL_DB=beone_leaderboard
MYSQL_PORT=3306
NODE_MAILER_EMAIL_ADDRESS=noreplybeonetemp@gmail.com
NODE_MAILER_EMAIL_PASSWORD=j5ruWreBre
BCC_EMAIL=
CLOG_DB=false
FILE_LEVEL=debug
EMAIL_LEVEL=critical
DOMAIN_URL='http://localhost:3001'
Asana_API_Key=1/4670926474297:eaced3c8e74f1fac6a9ae3665086a0d6
Completed=1
Overdue_penalty=1
Tag_Pentalty=2
Reward=2
